nav{
    height: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    border-bottom: 3px solid black;
}
.nav-menu img{
    width: 60px;
}
.nav-menu i{
    margin: 5px 0;
}
i{
    color: black;
    cursor: pointer;
    transition: all 1s ease;
}
i:hover{
    transform: scale(1.1);
    color: red;
}